@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap");

/* Variables */

:root {
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Work Sans", sans-serif;

    --color-white: #eaeaea;
    --color-black: #000;
    --color-text-light: rgba(255, 255, 255, 0.64);

    --violet-main: #8458f0;
    --violet-soft: #b3a0e2;
    --violet-button: #8459AF;
    --violet-active: #807699;

    --green-main: #619b8a;

    --lightblue: #008db1;

    --radius-small: 8px;
    --radius-round: 50px;
}

/* Body */

body {
    width: 100%;
    margin: auto;
    padding: 0;
    font-family: var(--font-primary);
    letter-spacing: 0.03em;
    line-height: 1.6;
}

body a:hover {
    color: var(--violet-soft);
    border-radius: 9%;

}

/* Navbar*/

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: linear-gradient(96deg,
            var(--violet-main) 32%,
            var(--green-main) 64%,
            var(--lightblue) 100%);
    position: relative;
    min-height: 50px;

}

.navlist_der {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navigation-bar a {
    float: left;
    display: block;
    color: var(--color-white);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 0 17px;
    position: relative;
}


.navigation-bar a.active {
    background-color: var(--color-white);
    color: var(--violet-active);
    border-radius: var(--radius-small);
}

.navigation-bar img {
    max-width: 12rem;
}

.navigation-bar button {
    font-family: var(--font-primary);
    color: var(--color-white);
    background-color: var(--violet-button);
    padding: 8px;
    border-radius: var(--radius-round);
    margin-bottom: 7px;
    border-color: var(--violet-button);
    font-size: 14px;
}

button,
.boton {
    font-family: var(--font-primary);
    color: var(--color-white);
    background-color: var(--violet-button);
    padding: 8px;
    border-radius: var(--radius-round);
    margin-bottom: 7px;
    border-color: var(--violet-button)
}

button:hover,
.boton:hover {
    border-color: var(--color-white);
}

.navigation-bar .icon-menu,
.nav-mobile {
    display: none;
}

#icon-menu {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Responsive Nav */

@media screen and (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    .navlist_der {
        display: none;
    }

    #icon-menu {
        display: block;
    }

    .nav-mobile {
        position: absolute;
        top: 100%;
        right: 0;
        width: 150px;
        background-color: var(--violet-main);
        display: flex;
        flex-direction: column;
        /* padding: 1rem; */
        max-width: 0;
        transform: translateX(100%);
        transition: max-width 0.3s ease;
        z-index: 1000;
    }

    .nav-mobile a {
        padding: 0.8rem 0;
        color: white;
    }

    .nav-mobile.active {
        max-width: 150px;
        transform: translateX(0);
    }

}

/* =========================
   TITULOS Y TEXTOS
========================= */

h1 {
    font-family: var(--font-primary);
    font-size: 50px;
    margin: 2px;
    text-align: center;
    font-weight: 500;
}

h2 {
    font-family: var(--font-secondary);
    font-size: 40px;
    padding: 10px 0;
    text-align: left;
    max-width: 70rem;
    margin: auto;
    font-weight: 600;
}

h3 {
    text-align: center;
    margin: auto;
    font-size: 25px;
    /* padding: 10px 0; */
    font-weight: 200;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
}

.subtitulo {
    text-align: center;
    margin: auto;
    font-size: 40px;
    padding: 10px 0;
}

.verde {
    background-color: var(--green-main);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 0.7rem 0;
    margin: 0;
    max-width: 100%;
}

/* =========================
   CARDS
========================= */

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card {
    width: 350px;
    height: 500px;
    border-radius: var(--radius-small);
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover {
    /* transform: translateY(-15px); */
    box-shadow: 0 12px 16px var(--violet-soft);
}

.container .card img {
    height: 50%;
}

.container .card h4 {
    font-weight: 600;
    margin: 8px auto;
}

.container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    margin: 8px auto;
}

.container .card .boton {
    font-family: var(--font-primary);
    color: var(--color-white);
    background-color: var(--violet-button);
    padding: 8px;
    border-radius: var(--radius-round);
    border-color: var(--color-white);
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* =========================
   PRESENTACION
========================= */

.presentacion_bg {
    padding: 1px;
    background-image: url(../img/holaa2.jpg);
    min-height: 80vh;
    background-color: var(--violet-soft);
    background-position: center center;
    background-size: cover;
}


.presentacion_bg .presentacion_txt {
    margin: auto;
    max-width: 70rem;
}

.presentacion_bg .subtexto {
    text-align: left;
    padding: 10px 0;
    max-width: 21rem;
    font-weight: 400;
}

.presentacion_txt h1 {
    text-align: left;
}

/* estilos de ventana Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 50px auto;
    padding: 0;
    border: 1px solid #888;
    width: 600px;
    max-height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: #eaeaea;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: rgb(97, 155, 138);
    color: #eaeaea;
    font-family: "Montserrat", sans-serif;
}

.modal-body {
    padding: 2px 16px;
    /* background-color: #ccc; */
    overflow-y: auto;
}

.modal-footer {
    padding: 2px 16px;
    background-color: rgb(97, 155, 138);
    color: #eaeaea;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contenedor-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130;
    background-color: #ffffff;
    margin: 5px 0;
}

.eliminar-producto {
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 50%;
    padding: 3px;
    color: red;
    transition: 0.5s;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
}

.eliminar-producto:hover {
    color: white;
    background-color: red;
}

.boton-carrito {
    text-decoration: none;
    background-color: #20798fa1;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    size: 35px;
    padding: 8px;
    border-radius: 50px;
    color: #eaeaea;

}

.boton-carrito:hover {
    background-color: white;
    color: black;
}

.boton-standar {
    margin-bottom: 12px;
}

.count-products {
    padding: 10px;
}

/* SOBRE MI */
.sobre_mi {
    background-color: var(--color-white);
    max-width: 100%;
    margin: auto;
    /* max-width: 75%; */
    padding: 3rem 0 3rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.sobre_mi h1,
li {
    text-align: center;
    margin: 0 32px;
    color: var(--color-white);
}

.sobre_mi li {
    list-style: none;
}

.sobre_mi .img_sobre_mi {
    /* width: 500px; */
    max-width: 30%;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.clearfix {
    background-color: var(--violet-active);
    margin-left: 4%;
    text-align: center;
}


.ofrezco {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.que_te_ofrezco {
    background-color: var(--violet-active);
    /* position: absolute; */
    padding: 5rem 2rem;
    max-width: 25%;
}

.p_ofrezco {
    max-width: 60%;
}


/* SERVICIOS */

main .kinesiologia {
    margin: auto;
    max-width: 75%;
    padding: 3rem 0 3rem 0;
}

main .kinesiologia .img_servicios {
    width: 400px;
}

main .kinesiologia .p_serv {
    padding-left: 10px;
}


/* TURNOS */

.turnos {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

.form {
    box-shadow: 0 4px 12px var(--violet-active);
    padding: 2rem;
    margin-bottom: 1rem;

}

.form button {
    margin: auto;
    display: flex;
}


.error {
    border: 2px solid red;
}


.campo {
    position: relative;
    display: inline-block;
    width: 250px;
}

.mensaje-error {
    position: absolute;
    bottom: -18px;
    left: 0;
    font-size: 0.75rem;
    color: red;
    visibility: hidden;
}

.error+.mensaje-error {
    visibility: visible;
}







/* =========================
   FOOTER
========================= */

.footer {
    background: linear-gradient(96deg,
            var(--violet-main) 32%,
            var(--green-main) 64%,
            var(--lightblue) 100%);
    color: var(--color-text-light);
    /* padding-top: 30px; */
    display: flex;
    font-family: var(--font-primary);
    justify-content: space-evenly;
    text-align: center;
    font-size: 13px;
}

.footer .info .logo_footer {
    width: 9rem;
}

.footer h5 {
    margin-top: 0.8rem;
}

.footer ul {
    padding-left: 0;
}

.footer ul li {
    list-style: none;
}

.footer a {
    color: var(--color-text-light);
    text-decoration: none;
}

.footer .obras_sociales .img_os {
    max-width: 15rem;
}

/* Responsive Footer */
@media screen and (max-width: 768px) {
    .info_contacto {
        /* display: none; */
        font-size: 10px;
    }

    .obras_sociales {
        display: none;
    }
}



/* =========================
   MODAL
========================= */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 50px auto;
    width: 600px;
    max-height: 80%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

/* =========================
   BOTONES VARIOS
========================= */

.boton-carrito {
    background-color: #20798fa1;
    padding: 8px;
    border-radius: var(--radius-round);
    color: var(--color-white);
}

.boton-carrito:hover {
    background-color: white;
    color: black;
}